html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eaeaea;
  user-select: none;
}

/* 水平垂直居中-公共类 */
.c-wrap { display: table; *writing-mode: tb-rl; }
.c-inner { display: table-cell; vertical-align: middle; *width:100%; *margin:auto 0; *writing-mode:lr-tb;}

.game {
	position: relative;
	width: 288px;
	height: 512px;
	margin: 0 auto;
}

.scene {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	overflow: hidden;
	background: url(../images/elements.png) no-repeat;
}

.bird {
	position: absolute;
	bottom: 112px;
	left: 50%;
	width: 34px;
	height: 24px;
	margin-left:  -12px;
	background: url(../images/elements.png) no-repeat -446px -248px;
	transition: transform 0.1s ease;
	will-change:  transform;
}

.flying {
	animation: fly .4s steps(1) reverse infinite;
}

@keyframes fly {
	0% {
		background-position: -528px -128px;
	}
	33% {
		background-position: -528px -180px;
	}
	66% {
		background-position: -446px -248px;
	}
}

.piping {
	position: absolute;
	top: 0;
	right: -52px;
	width: 52px;
	height: 100%;
}

.piping-upper {
	position: absolute;
	top: -270px;
	right: 0;
	width: 52px;
	height: 270px;
	background: url(../images/elements.png) no-repeat -604px 0;
	will-change: transform;
}

.piping-below {
	position: absolute;
	bottom: -130px;
	right: 0;
	width: 52px;
	height: 242px;
	background: url(../images/elements.png) no-repeat -660px 0;
	will-change: transform;
}

.land {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 288px;
	height: 112px;
	background: url(../images/elements.png) no-repeat -292px 0;
}

.sliding {
	animation: sliding 0.2s linear infinite;
}

@keyframes sliding {
	from {
		background-position: -292px 0;
	}
	to {
		background-position: -308px 0;
	}
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu ul {
	text-align: center;
	list-style: none;
	padding: 0;
}

.menu ul li {
	margin: 10px 0;
}

.menu .btn {
	width: 72px;
	height: 24px;
	margin: 0 auto;
	line-height: 24px;
	background: #e86101;
	border: 2px solid #fff;
}

.score {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 14px;
	z-index: 10;
}

